<article>
  <header>
    <figure>
      <img src="{{imgUrl}}" alt="menu-item">
      <h2>{{name}}</h2>
    </figure>
  </header>
  <p class="price">
    ${{formatPrice price}}
  </p>
  
  <footer>
    <a class="add_cart" href="#">Add to cart</a>
  </footer>
</article>

