-
  var cart = [{
    name: 'ActRaiser',
    quantity: 1,
    price: 50
  }, {
    name: 'Metroid Prime',
    quantity: 2,
    price: 10.5
  }, {
    name: 'Silent Hill 3',
    quantity: 1,
    price: 25
  }]