include _mixins

doctype html
html
  head
    title= title
    +stylesheet_link_tag('font-awesome.min')
    +stylesheet_link_tag('style')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')
  body
    block content
    +javascript_include_tag('models/menu_item')
    +javascript_include_tag('collections/menu', 'collections/cart')
    +javascript_include_tag('views/index', 'views/menu', 'views/item', 'views/cart_item', 'views/cart', 'views/item_details', 'views/checkout')
    +javascript_include_tag('application')
    script(type='text/javascript').
      App.menu = new Menu(!{JSON.stringify(data)});
      App.init();
    +javascript_include_tag('router')
    
